h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.app-container {
  padding: 50px;
}

input[type="text"] {
  border: none;
  outline: none;
}

.keepForm {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  .titleInput {
    margin: 0px;
    font-size: 24px;

    &::placeholder {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .taskInput {
    &::placeholder {
      font-size: 16px;
    }
  }
  .colorPicker {
    width: 35px;
    height: 35px;
  }
  .colorPickerPanel {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .optionsPanel {
    display: none;
    visibility: hidden;
    gap: 15px;
    margin-top: 10px;
  }
}

.container {
  margin-bottom: 20px;
  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .listing {
    column-gap: 10px;
    row-gap: 20px;
    .card {
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      color: #737373;
      padding: 20px;
      h2 {
        margin-bottom: 15px;
      }
      p {
        font-style: italic;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}
